p = link_to 'Ask question', new_question_path, class: 'col-md-12 btn btn-primary form-group'

p.col-md-12.form-control.label-success = 'Список вопросов'
- @questions.each do |question|
  = link_to question.title.to_s, question_path(id: question.id), class: 'col-md-6 form-control'
