h1 = Daily#digest
p = 'Hi,' + user.name

= 'We have a daily digest for you!'
= 'All question, that were created by past day:'
ul - @questions.each do |question|
  li = link_to question.title, question